{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    ["babel-plugin-styled-components", {
      "displayName": true
    }],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": true
      }
    ]
  ]
}
