.component-api-response {

  .response {
    margin-top: 10px;
  }

  .error {
    color: red;
  }

  .data-text {
    padding: 10px;
    border: 1px solid #f3eaea;
    width: 600px;
    height: 500px;
    overflow: scroll;
    word-wrap: break-word;
    font-size: 13px;
    color: #696868;
    margin-top: 10px;
  }
}